[submodule "libseccomp"]
	path = libseccomp
	url = git@github.com:nestybox/libseccomp.git
[submodule "libseccomp-golang"]
	path = libseccomp-golang
	url = git@github.com:nestybox/libseccomp-golang.git
